.container {
  display: flex;
  justify-content: center;
  align-items: center;

  /* flex-direction: column; */

  flex-direction: row;

  /* height: 125vh; */

  padding: 20px;
  box-sizing: border-box;
}

.card {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 20px; */
  margin-right: 20px;
  /* width: 100%; */

  max-width: 40rem;
}

.name {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.summary {
  font-size: 16px;
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}

.tags {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.healthScoreGood {
  align-self: flex-start;
  font-size: 14px;
  color: #8cc68a;
  margin-bottom: 10px;
}

.healthScoreBad {
  align-self: flex-start;
  font-size: 14px;
  color: #fc6559;
  margin-bottom: 10px;
}

.diets {
  align-self: flex-end;
  font-size: 14px;
  color: #8cc68a;
  margin-bottom: 10px;
}

/* .healthScore,
.diets {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
} */

.instructions {
  flex: 1;
  /* width: 100%; */

  max-width: 40rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item {
  margin: 10px 0;
  padding: 0 0 0 20px;
  position: relative;
}

.item:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
}

.image {
  border-radius: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .card {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
