.home {
  /* background-color: #333333; */
  background-image: url("../../src/assets/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  flex: 1;
}

::-webkit-scrollbar {
  display: none;
}
