.landing {
  position: relative;
  height: 100vh;
  background-color: #f8f8f8;
  overflow: hidden;
}

.landingImg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landingBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 12rem;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 2em;
  color: white;
  background-color: rgb(255, 99, 71, 0.8);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.landingBtn:hover {
  background-color: rgb(213, 210, 143, 0.95);
  color: black;
}

.footer {
  position: absolute;
  border-radius: 20px 0px 0px 0px;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
}

.imageContainer {
  text-align: center;
  gap: 10px;
}

.footerImg {
  height: 50px;
  width: 50px;
  margin-inline: 1rem;
}
