.container {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  /* margin-top: 20px; */
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  border-radius: 10px;
  background-color: #8cc68a;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #fc6559;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #333;
  color: #fff;
}

.activeButton {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  border-radius: 10px;
  background-color: #fc6559;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activeButton:hover {
  background-color: #ddd;
}

.activeButton:focus {
  outline: none;
}

.activeButton:active {
  background-color: #333;
  color: #fff;
}

@media (max-width: 768px) {
  .button {
    padding: 8px 12px;
    font-size: 14px;
  }
}
