.searchContainer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  flex-wrap: wrap;
}

.searchBar {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-width: 2px;
  transition: border-color 0.3s ease;
  outline: none;

  flex: 1 0 200px;
  margin: 10px;
}

.searchBar:focus {
  border-color: #8cc68a;
}

.selectBox {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  appearance: none;
  background-color: #fff;
  background-position: right 10px center;
  background-size: 12px;
  transition: background-color 0.3s ease;

  flex: 1 0 200px;
  margin: 10px;
}

.selectBox option {
  padding: 10px;
}

.selectBox:focus {
  background-color: #e0e0e0;
}

.searchBtn {
  padding: 10px 20px;
  border: none;
  background-color: #8cc68a;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

  flex: 1 0 auto;
  margin: 10px;
}

.searchBtn:hover {
  background-color: #068e1f;
}
